In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('IMDB_Review_Dataset.csv',engine='python',error_bad_lines=False)
data = data[:5000]
data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
4995  An interesting slasher film with multiple susp...  negative
4996  i watched this series when it first came out i...  positive
4997  Once again Jet Li brings his charismatic prese...  positive
4998  I rented this movie, after hearing Chris Gore ...  negative
4999  This was a big disappointment for me. I think ...  negative

[5000 rows x 2 columns]

In [ ]:
#LowerCase
data['review']=data['review'].str.lower()
data

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. <br /><br />the...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically there's a family where a little boy ...  negative
4     petter mattei's "love in the time of money" is...  positive
...                                                 ...       ...
4995  an interesting slasher film with multiple susp...  negative
4996  i watched this series when it first came out i...  positive
4997  once again jet li brings his charismatic prese...  positive
4998  i rented this movie, after hearing chris gore ...  negative
4999  this was a big disappointment for me. i think ...  negative

[5000 rows x 2 columns]

In [ ]:
def remove_whitespace(text):
    return  " ".join(text.split())

data['review']=data['review'].apply(remove_whitespace)
data

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. <br /><br />the...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically there's a family where a little boy ...  negative
4     petter mattei's "love in the time of money" is...  positive
...                                                 ...       ...
4995  an interesting slasher film with multiple susp...  negative
4996  i watched this series when it first came out i...  positive
4997  once again jet li brings his charismatic prese...  positive
4998  i rented this movie, after hearing chris gore ...  negative
4999  this was a big disappointment for me. i think ...  negative

[5000 rows x 2 columns]

In [ ]:
import nltk
from nltk import word_tokenize
nltk.download('punkt')
data['review']=data['review'].apply(lambda X: word_tokenize(X))
data

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

                                                 review sentiment
0     [one, of, the, other, reviewers, has, mentione...  positive
1     [a, wonderful, little, production, ., <, br, /...  positive
2     [i, thought, this, was, a, wonderful, way, to,...  positive
3     [basically, there, 's, a, family, where, a, li...  negative
4     [petter, mattei, 's, ``, love, in, the, time, ...  positive
...                                                 ...       ...
4995  [an, interesting, slasher, film, with, multipl...  negative
4996  [i, watched, this, series, when, it, first, ca...  positive
4997  [once, again, jet, li, brings, his, charismati...  positive
4998  [i, rented, this, movie, ,, after, hearing, ch...  negative
4999  [this, was, a, big, disappointment, for, me, ....  negative

[5000 rows x 2 columns]

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
en_stopwords = stopwords.words('english')

def remove_stopwords(text):
    result = []
    for token in text:
        if token not in en_stopwords:
            result.append(token)
            
    return result

data['review']=data['review'].apply(remove_stopwords)
data

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                 review sentiment
0     [one, reviewers, mentioned, watching, 1, oz, e...  positive
1     [wonderful, little, production, ., <, br, /, >...  positive
2     [thought, wonderful, way, spend, time, hot, su...  positive
3     [basically, 's, family, little, boy, (, jake, ...  negative
4     [petter, mattei, 's, ``, love, time, money, ''...  positive
...                                                 ...       ...
4995  [interesting, slasher, film, multiple, suspect...  negative
4996  [watched, series, first, came, 70s.i, 14, year...  positive
4997  [jet, li, brings, charismatic, presence, movie...  positive
4998  [rented, movie, ,, hearing, chris, gore, sayin...  negative
4999  [big, disappointment, ., think, worst, mastroi...  negative

[5000 rows x 2 columns]

In [ ]:
from nltk.tokenize import RegexpTokenizer

def remove_punct(text):
    
    tokenizer = RegexpTokenizer(r"\w+")
    lst=tokenizer.tokenize(' '.join(text))
    return lst

data['review']=data['review'].apply(remove_punct)
data

                                                 review sentiment
0     [one, reviewers, mentioned, watching, 1, oz, e...  positive
1     [wonderful, little, production, br, br, filmin...  positive
2     [thought, wonderful, way, spend, time, hot, su...  positive
3     [basically, s, family, little, boy, jake, thin...  negative
4     [petter, mattei, s, love, time, money, visuall...  positive
...                                                 ...       ...
4995  [interesting, slasher, film, multiple, suspect...  negative
4996  [watched, series, first, came, 70s, i, 14, yea...  positive
4997  [jet, li, brings, charismatic, presence, movie...  positive
4998  [rented, movie, hearing, chris, gore, saying, ...  negative
4999  [big, disappointment, think, worst, mastroiann...  negative

[5000 rows x 2 columns]

In [ ]:
from nltk.stem import PorterStemmer

def stemming(text):
    porter = PorterStemmer()
    
    result=[]
    for word in text:
        result.append(porter.stem(word))
    return result

data['review']=data['review'].apply(stemming)
data

                                                 review sentiment
0     [one, review, mention, watch, 1, oz, episod, l...  positive
1     [wonder, littl, product, br, br, film, techniq...  positive
2     [thought, wonder, way, spend, time, hot, summe...  positive
3     [basic, s, famili, littl, boy, jake, think, s,...  negative
4     [petter, mattei, s, love, time, money, visual,...  positive
...                                                 ...       ...
4995  [interest, slasher, film, multipl, suspect, br...  negative
4996  [watch, seri, first, came, 70, i, 14, year, ol...  positive
4997  [jet, li, bring, charismat, presenc, movi, scr...  positive
4998  [rent, movi, hear, chri, gore, say, someth, ef...  negative
4999  [big, disappoint, think, worst, mastroianni, m...  negative

[5000 rows x 2 columns]

In [ ]:
import re
def remove_tag(text):
    
    text=' '.join(text)
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)

data['review']=data['review'].apply(remove_tag)
data

                                                 review sentiment
0     one review mention watch 1 oz episod ll hook r...  positive
1     wonder littl product br br film techniqu unass...  positive
2     thought wonder way spend time hot summer weeke...  positive
3     basic s famili littl boy jake think s zombi cl...  negative
4     petter mattei s love time money visual stun fi...  positive
...                                                 ...       ...
4995  interest slasher film multipl suspect br br in...  negative
4996  watch seri first came 70 i 14 year old watch b...  positive
4997  jet li bring charismat presenc movi screen fil...  positive
4998  rent movi hear chri gore say someth effect fiv...  negative
4999  big disappoint think worst mastroianni movi ev...  negative

[5000 rows x 2 columns]

In [ ]:
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

data['review']=data['review'].apply(remove_urls)
data

                                                 review sentiment
0     one review mention watch 1 oz episod ll hook r...  positive
1     wonder littl product br br film techniqu unass...  positive
2     thought wonder way spend time hot summer weeke...  positive
3     basic s famili littl boy jake think s zombi cl...  negative
4     petter mattei s love time money visual stun fi...  positive
...                                                 ...       ...
4995  interest slasher film multipl suspect br br in...  negative
4996  watch seri first came 70 i 14 year old watch b...  positive
4997  jet li bring charismat presenc movi screen fil...  positive
4998  rent movi hear chri gore say someth effect fiv...  negative
4999  big disappoint think worst mastroianni movi ev...  negative

[5000 rows x 2 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
reviews = data['review'].values
labels = data['sentiment'].values
encoder = LabelEncoder()
encoded_labels = encoder.fit_transform(labels)

In [ ]:
from sklearn.model_selection import train_test_split
train_sentences, test_sentences, train_labels, test_labels = train_test_split(reviews, encoded_labels, stratify = encoded_labels)

In [ ]:
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences

vocab_size = 5000 # 
embedding_dim = 50
max_length = 100 

tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(train_sentences)

train_sequences = tokenizer.texts_to_sequences(train_sentences)
train_padded = pad_sequences(train_sequences, padding='post', maxlen=max_length)

test_sequences = tokenizer.texts_to_sequences(test_sentences)
test_padded = pad_sequences(test_sequences, padding='post', maxlen=max_length)

In [ ]:
import keras
# model initialization
model = keras.Sequential([
    keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
    keras.layers.Bidirectional(keras.layers.SimpleRNN(32)),
    keras.layers.Dense(240, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])
# compile model
model.compile(loss='binary_crossentropy',
              optimizer='Adam',
              metrics=['accuracy'])
# model summary
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_9 (Embedding)     (None, 100, 50)           250000

 bidirectional_10 (Bidirecti  (None, 64)               5312
 onal)

 dense_16 (Dense)            (None, 240)               15600

 dense_17 (Dense)            (None, 1)                 241

=================================================================
Total params: 271,153
Trainable params: 271,153
Non-trainable params: 0
_________________________________________________________________

In [ ]:
num_epochs = 10
history = model.fit(train_padded, train_labels, 
                    epochs=num_epochs, verbose=1, 
                    validation_split=0.1)

Epoch 1/10
106/106 [==============================] - 7s 45ms/step - loss: 0.6563 - accuracy: 0.5799 - val_loss: 0.5263 - val_accuracy: 0.7333
Epoch 2/10
106/106 [==============================] - 4s 41ms/step - loss: 0.3597 - accuracy: 0.8477 - val_loss: 0.4855 - val_accuracy: 0.7787
Epoch 3/10
106/106 [==============================] - 4s 41ms/step - loss: 0.0856 - accuracy: 0.9754 - val_loss: 0.5416 - val_accuracy: 0.7813
Epoch 4/10
106/106 [==============================] - 4s 41ms/step - loss: 0.0109 - accuracy: 0.9985 - val_loss: 0.6196 - val_accuracy: 0.8133
Epoch 5/10
106/106 [==============================] - 4s 41ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.6517 - val_accuracy: 0.8347
Epoch 6/10
106/106 [==============================] - 4s 41ms/step - loss: 5.1574e-04 - accuracy: 1.0000 - val_loss: 0.6798 - val_accuracy: 0.8320
Epoch 7/10
106/106 [==============================] - 4s 41ms/step - loss: 3.0397e-04 - accuracy: 1.0000 - val_loss: 0.7133 - val_accuracy: 0.8293
Epoch 8/10
106/106 [==============================] - 4s 41ms/step - loss: 2.1206e-04 - accuracy: 1.0000 - val_loss: 0.7387 - val_accuracy: 0.8293
Epoch 9/10
106/106 [==============================] - 4s 41ms/step - loss: 1.5736e-04 - accuracy: 1.0000 - val_loss: 0.7624 - val_accuracy: 0.8320
Epoch 10/10
106/106 [==============================] - 4s 41ms/step - loss: 1.2265e-04 - accuracy: 1.0000 - val_loss: 0.7817 - val_accuracy: 0.8320

In [ ]:
from sklearn.metrics import accuracy_score

prediction = model.predict(test_padded)
# Get labels based on probability 1 if p>= 0.5 else 0
pred_labels = []
for i in prediction:
    if i >= 0.5:
        pred_labels.append(1)
    else:
        pred_labels.append(0)
print("Accuracy of prediction on test set : ", accuracy_score(test_labels,pred_labels)*100)

40/40 [==============================] - 1s 16ms/step
Accuracy of prediction on test set :  81.2